PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/hardiktraders?retryWrites=true&w=majority
JWT_SECRET=hardiktraders_jwt_secret_change_this_in_production_2024
JWT_EXPIRE=7d
ADMIN_EMAIL=admin@hardiktraders.com
ADMIN_PASSWORD=Admin@123
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
